<div class="banner" id="top">
  <div class="banner-content">
    <h1 class="title">5 MOIS LA TETE EN BAS</h1>
    <p>Suivez nous pendant notre périple en hémisphère Sud !</p>
    <%= link_to "Notre itinéraire", countries_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>


<div class="wraper-home periple">
  <h1 class="index-title text-center">Le Périple</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-colombie">
         <%= link_to "", "countries/colombie", class: "card-link" %>
          <div class="card-category">
            <p>COLOMBIE</p>
            </div>
          <div class="card-description">
            <h2>Au pays de Pablo</h2>
            <p>Du 6 au 25 mars 2017</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-perou">
         <%= link_to "", "countries/", class: "card-link"%>
          <div class="card-category">
            <p>PEROU</p>
            </div>
          <div class="card-description">
            <h2>Au pays des lamas</h2>
            <p>Du 25 mars au ? 2017</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-bolivie">
         <%= link_to "", "countries/", class: "card-link"%>
          <div class="card-category">
            <p>BOLIVIE</p>
            </div>
          <div class="card-description">
            <h2>Au pays du désert de sel</h2>
            <p>Du ? au ? 2017</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-chili">
         <%= link_to "", "countries/", class: "card-link"%>
          <div class="card-category">
            <p>CHILI</p>
            </div>
          <div class="card-description">
            <h2>Au pays des statues mystérieuses</h2>
            <p>Du ? au ? 2017</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-argentine">
         <%= link_to "", "countries/", class: "card-link"%>
          <div class="card-category">
            <p>ARGENTINE</p>
            </div>
          <div class="card-description">
            <h2>Au pays du Tango</h2>
            <p>Du ? au ? 2017</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-new-zealand">
         <%= link_to "", "countries/", class: "card-link"%>
          <div class="card-category">
            <p>NOUVELLE ZELANDE</p>
            </div>
          <div class="card-description">
            <h2>Au pays du long nuage blanc</h2>
            <p>Du ? au ? 2017</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-polynesie">
         <%= link_to "", "countries/", class: "card-link"%>
          <div class="card-category">
            <p>POLYNESIE</p>
            </div>
          <div class="card-description">
            <h2>Au pays des eaux turquoises</h2>
            <p>Du 3 au 16 juillet 2017</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="wraper-home dream-team">
  <h1 class="index-title text-center">La Dream Team</h1>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
          <div class="card-home">
            <%= image_tag "agathe.jpg", class: "avatar-xl" %>
            <h3 class= "card-home-title text-center">Agathe alias <strong>Gatou</strong></h3>
            <p class="card-home-description"><strong>La Globe Trotteuse du Ch'nord</strong><br><br> 23 ans, quelques 150 pays visités, des cousins dans le monde entier, un as du volant et un sens de l'organisation sans égal !</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 text-center">
          <div class="card-home">
            <%= image_tag "julie.jpg", class: "avatar-xl" %>
            <h3 class= "card-home-title text-center">Julie alias <strong>July</strong></h3>
            <p class="card-home-description"><strong>La Banlieusarde Hyperactive</strong><br><br>22 ans, un débit de parole de Formule 1, une passion pour le sport, une soif de découverte et une motivation hors pair !</p>
          </div>
        </div>

    </div>
  </div>
</div>
